{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}



{% block body %}

    <header>
        {% include('inc/nav1.html.twig') %}
    </header>
    <body>
    <div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    </div>
    </body>


{% endblock %}
