{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <header>
        {% include('inc/nav.html.twig') %}
    </header>
    <h1  >Inscrire  un participant :</h1>
    <div class="form" >
        <div  >
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}

            <div class="co">
            <div >
                <button id="btn1" type="submit" class="btn">S'inscrire</button>
            </div>
            <div >
                <button id="btn2" type="reset" class="btn">Annuler</button>
            </div>
            </div >
        </div>
            {{ form_end(registrationForm) }}

        </div>

        <div>
    </div>
    </div>

{% endblock %}
