{% extends 'base.html.twig' %}

{% block title %}Hello CampusController!{% endblock %}

{% block body %}

    {% for campus  in campus %}

        <h1>{{ campus.nom }}</h1>

    {% endfor %}


{% endblock %}
