
.login{

    display: flex;
    align-items: center;
    justify-content: center;

}
.login div {
    margin-top:7%;
    margin-bottom: 7%;
    width: 25%;
    height: 25%;


}
#btn{
    background-color: forestgreen;
    width: 120px;
    margin-top: 20px;
    margin-left: 20%;
}
#title{

    margin-left: 90px;
}
#img{
    height: 50px;
    width: 50px;
}

.form{

    margin-left: 40%;
    padding-left: 20px;
    display: flex;
    align-content: center;
}
.form div {

    width: 20%;
    height: 20%;
}
ul{

    margin-right: 90px;
}
.id2 label{
    width: 400px;


}
h1{

    margin-top: 3%;
    margin-left: 10%;
    font-family:Forte;
}
label{
    font-family:Forte;
    width: 400px;
}

.co{


    display: flex;
    flex-direction: row;
    align-content: space-between;

}
#btn2 ,#btn1{

    background-color: orange;
    font-family:Forte;
    margin-left: 120px;
    width: 100px;
}
#btn1{
    background-color: forestgreen;
    margin-right: 10px;
    margin-left:10px;
    font-family:Forte;
}
#h{
    font-size: large;
    font-family: "Arial Black";
    margin-left: 80%;
}









