<div class="px-3 py-2 bg-black text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <img  src="{{ asset('img/IMG.jpg') }}" style="width: 100px">


        </div>
    </div>
</div>